@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0px ;
    font-family: 'Montserrat', sans-serif !important;
}

.red{
    color: red;
}

.loadingmodal{
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 100;
    background: rgba(7, 7, 7, 0.502);
    text-align: center;
    display: table;
  } 

  .loadingmodal h2{
    display: table-cell;
    color: white;
    
  vertical-align: middle;
  
  }