@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0px ;
   font-family: 'Montserrat', sans-serif !important;
}


.content-header{
    background: #f1f0f0;
    padding: 6px;
    border-bottom: 5px #243a51 solid;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: right;
}

.content-header h3{
    margin: 0px;
}
